@charset "UTF-8";

.park-card {
	margin-bottom: 30px;
	border-radius: 5%;
	box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
	background-color: white;
}

.park-card-body {
	padding: 20px 20px 20px 20px;
}

.park-card-body img {
	width: 30px;
	height: 30px;
}

.replyinput {
	border-radius: 30px;
}

.wrap-loading { /*화면 전체를 어둡게 합니다.*/
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2); /*not in ie */
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000',
		endColorstr='#20000000'); /* ie */
}

.wrap-loading div { /*로딩 이미지*/
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -21px;
	margin-top: -21px;
}